ML LWRP BUG/Library/
ML LWRP BUG/Temp/
ML LWRP BUG/ML LWRP BUG.sln
ML LWRP BUG/*.csproj
ML LWRP BUG/.vs/
ML LWRP BUG/obj/
ML LWRP BUG/.out/
*.DotSettings
MagicLeapIcon/pipeline/cache/
ML LWRP BUG/com.funktroniclabs.spiritloops.package
*.DS_Store
*.DS_Store.meta
ML LWRP BUG/ML LWRP BUG.sln.DotSettings.user
